# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/ new.slnx/FileContentIndex/497a1689-be49-4e72-872c-31a952638cbb.vsidx
/.vs/ new.slnx/v18/.wsuo
/.vs/ new.slnx/FileContentIndex/54240a04-981d-4bcc-bceb-2d2db4066d93.vsidx
/.vs/ new.slnx/FileContentIndex/0bb48b04-900e-496a-81bf-c06aab053548.vsidx
*.vsidx
