# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/ new.slnx/FileContentIndex/90844c43-f0d8-4f06-8abc-b243564860ba.vsidx
/.vs/ new.slnx/v18/.wsuo
/.vs/ new.slnx/FileContentIndex/7c32c0be-a3fd-41f6-bef4-455e37bb30fb.vsidx
/.vs/ new.slnx/FileContentIndex/9180e654-3f4d-4dd5-a9a7-7f7040ea78de.vsidx
/.vs/ new.slnx/FileContentIndex/541afc05-f0bf-4b01-b09c-3d51e881ff71.vsidx
/.vs/ new.slnx/FileContentIndex/a82ecd43-8f07-4474-8e9c-086ee69d290c.vsidx
