# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/ new.slnx/FileContentIndex/90844c43-f0d8-4f06-8abc-b243564860ba.vsidx
/.vs/ new.slnx/FileContentIndex/28dc906d-265e-492a-8599-ab4bfa216f5d.vsidx
/.vs/ new.slnx/FileContentIndex/86d0d872-d868-4e7e-8b11-acebc9936f23.vsidx
